/UnityIntegration/Serializers/*.meta
/DefaultSerializers/*.meta
/Helpers/*.meta
/Tests/*.meta
/*.meta
# Mac OS
*.DS_Store

# Documentation metadata generated when this repository is under Unity Assets
*.md.meta
/docs.meta
/docs~.meta
